h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: "Lobster", cursive;
}

nav {
  /* background-color: rgb(162, 31, 31); */
  background-color: indigo;
}

nav div a.navbar-brand {
  color: #ff4081;
  font-size: xx-large;
  margin-bottom: 5px;
}

nav ul li a {
  color: pink;
}

nav ul li a:hover {
  color: #ff4081;
}

nav ul li a.active {
  color: #ff4081;
}

::ng-deep .mat-warn {
  background: #f44336;
  color: white;
}

::ng-deep .mat-primary {
  background: #3f51b5;
  color: white;
}

img {
  max-height: 50px;
  max-width: 50px;
  display: inline;
  border: 3px solid pink;
  border-radius: 15%;
}

@media only screen and (max-width: 1023px) {
  img {
    display: none;
  }
}
