<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="border-bottom: 1px solid #ff4081">
    <div class="container">
      <a class="navbar-brand" routerLink="/">TruLuv&nbsp;</a>
      <button mat-icon-button color="accent" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
          <ng-container *ngIf="currentUser$ | async">
            <li class="nav-item">
              <a class="nav-link" routerLink="/members" routerLinkActive='active'>Matches&nbsp;<i class="fas fa-user-friends"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive='active'>Lists&nbsp;<i class="fas fa-stream"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive='active'>Messages&nbsp;<i class="fas fa-envelope-open-text"></i></a>
            </li>
          </ng-container>
        </ul>
        <form class="d-flex ml-auto" *ngIf="(currentUser$ | async) === null">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/login" routerLinkActive='active'>Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/register" routerLinkActive='active'>Register</a>
              </li>
          </ul>
        </form>
        <form class="d-flex ml-auto" *ngIf="currentUser$ | async">
            <ul class="navbar-nav pt-2">
                <img class="mr-2" src="{{user.photoUrl}}" alt=""> 
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members/{{user.userName}}" routerLinkActive='active'>Welcome, {{user.userName}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="Logout()" style="cursor: pointer;">Logout</a>
                </li>
            </ul>
        </form>
      </div>
    </div>
</nav>
