@import "../../../../styles.css";

.nv-file-over {
  border: dotted 3px red;
}

input[type="file"] {
  background-color: white;
  border-radius: 0 5px 5px 0;
}

input[type="file"] .upload-button {
  background-color: white;
  border-radius: 0 5px 5px 0;
}
