<div class="row pt-2" *ngIf="user">
    <div class="col-4">
        <div class="card">
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.knownAs}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(user.userName) && currentUser.userName != user.userName">
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Name:</strong>
                    <p>{{user.firstName}} {{user.lastName}}</p>
                </div>
                <div>
                    <strong>Nickname:</strong>
                    <p>{{user.knownAs}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{user.age}}</p>
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{user.city}}, {{user.state}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{user.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>{{user.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div *ngIf="currentUser.userName != user.userName" class="btn-group d-flex" role="group">
                    <button *ngIf="!likingUsernames.includes(user.userName)" (click)="addLike(user)" mat-raised-button color="accent" class="w-100">Like</button>
                    <button *ngIf="likingUsernames.includes(user.userName)" (click)="removeLike(user)" mat-raised-button color="warn" class="w-100">Unlike</button>
                    <button mat-raised-button color="primary" class="w-100" (click)="selectedIndex = 3">Message</button>
                </div>
                <div *ngIf="currentUser.userName == user.userName" class="btn-group d-flex" role="group">
                    <button mat-raised-button color="primary" class="w-100" routerLink="/member/edit">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <mat-tab-group color="accent" dynamicHeight="true" mat-align-tabs="left"
        [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChanged($event);">
            <mat-tab label="About" (click)="selectedIndex = 0">
                <h3>Description</h3>
                <p>{{user.introduction}}</p>
                <h3>Looking for</h3>
                <p>{{user.lookingFor}}</p>
            </mat-tab>
            <mat-tab label="Interests" (click)="selectedIndex = 1">
                <h3>Interests</h3>
                <p>{{user.interests}}</p>
            </mat-tab>
            <mat-tab label="Photos" (click)="selectedIndex = 2">
                <div class="d-flex justify-content-center">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
            </mat-tab>
            <mat-tab *ngIf="currentUser.userName != user.userName" label="Messages" (click)="selectedIndex = 3">
                <app-member-messages [username]="user.userName"></app-member-messages>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
