<h1 mat-dialog-title>Edit User Roles</h1>
<hr/>
<div mat-dialog-content>
    <div class="form-check" *ngFor="let role of data.roles">
        <input type="checkbox" class="form-check-input" [checked]="role.checked" value="role.name" (change)="role.checked = !role.checked" 
        [disabled]="role.name === 'Admin' && data.user.username === 'csophiea'">
        <label style="margin-top: 3px;">{{role.name}}</label>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onClick()" color="basic">Return</button>
  <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial color="primary">Update User</button>
</div>