div.card {
  height: 350px;
}

.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  object-fit: cover;
  object-position: 0 0;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}

div.card-body {
  cursor: pointer;
}

div.small-footer {
  display: none;
}

@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.is-online {
  animation: fa-blink 1.5s linear infinite;
  color: rgb(1, 189, 42);
}

@media only screen and (max-width: 767px) {
  div.card {
    max-height: 125px;
  }

  .card img {
    height: 150px;
    object-fit: cover;
    object-position: 0 0;
  }

  div.card-body {
    display: none;
  }

  div ul li.like-button {
    display: none;
  }

  div ul li.message-button {
    display: none;
  }

  div.small-footer {
    text-align: justify;
    height: 75px;
    display: inline-block;
  }
  div.small-footer h6 {
    text-align: justify;
  }
}
