<div class="container pt-4">
    <form #loginForm="ngForm" (submit)="ChangePassword($event)">
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="old"><h3>Old Password</h3></label>
                    <input type="password" #old="ngModel" class="form-control" required [(ngModel)]="editPassword.oldPassword" name="old">
                    <div *ngIf="old.invalid && (old.dirty || old.touched)" class="alert alert-danger">
                        <div *ngIf="old.errors.required">
                            Old password is required.
                        </div>
                    </div> 
                    <br/>
                    <label for="new"><h3>New Password</h3></label>
                    <input type="password" #newp="ngModel" class="form-control" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" required minlength="8" [(ngModel)]="editPassword.newPassword" name="new">
                    <div *ngIf="newp.invalid && (newp.dirty || newp.touched)" class="alert alert-danger">
                        <div *ngIf="newp.errors.minlength">
                            New password must be atleast 8 characters.
                        </div>
                        <div *ngIf="newp.errors.pattern">
                            New password must contain a lowercase, uppercase, number, and character.
                        </div>
                        <div *ngIf="newp.errors.required">
                            New password is required.
                        </div>
                    </div>
                    <br>
                </div>
            </div>
          <div class="row" *ngIf="!loginForm.form.invalid">
            <div class="col-3">
              <button mat-raised-button color="primary" type="submit">Update Password</button>
            </div>
          </div>
        </div>
    </form>
</div>
